<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Retflex, a movie database</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'movies/header' %>
<%= render 'movies/nav' %>

<% flash.each do |name, msg| -%>
  <%= content_tag :h3, msg, class: name %>
<% end -%> 

<%= yield %>

</body>
</html>
