<!DOCTYPE html>
<html>
<head>
  <title>RewslyApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to Rewsly</h1>
<%= render 'stories/nav' %>

<% flash.each do |name, msg| -%>
  <%= content_tag :h3, msg, class: name %>
<% end -%> 

<%= yield %>

</body>
</html>
